<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!--IIS 7.0-8.0还要做添加如下配置节点才能正确,否则还是默认的30M-->
  <system.webServer>
    <security>
      <requestFiltering>
        <!--单位：字节。 -->
        <requestLimits maxAllowedContentLength="1073741824" />
        <!-- 1 GB -->
      </requestFiltering>
    </security>
  </system.webServer>
  <!--IIS 6.0 设置文件传输大小限制-->
  <system.web>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1073741824" executionTimeout="3600"/>
  </system.web>
</configuration>
